.v-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFEFE;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.v-head > div {
  flex: 1;
  padding: 1rem;
}

.v-body {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: #FFFEFE;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.v-body .v-row {
  display: flex;
  flex-direction: row;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  position: relative;
}
.v-body .v-row > div {
  flex: 1;
  max-width: 25%;
  padding: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
}
.v-body .v-row:nth-child(even) {
  background-color: #F5F5F5;
}
.v-body .v-row:nth-child(1) .status-indicator {
  border-top-left-radius: 7px;
}
.v-body .v-row:last-child .status-indicator {
  border-bottom-left-radius: 7px;
}
.v-body .v-row .committee-pill-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.v-body .v-row .commitee-pill {
  font-size: 0.7rem;
  background-color: #86F189;
  border-radius: 7px;
  padding: 0.25rem 0.5rem;
  color: #004102;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.v-body .v-row .commitee-pill.instructor {
  outline: 1px solid #004102;
}
.v-body .v-row .status-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  padding: 0;
  opacity: 0.3;
}
.v-body .v-row .status-indicator.status-1 {
  background-color: #BFBFBF;
}
.v-body .v-row .status-indicator.status-2 {
  background-color: #F8AF71;
}
.v-body .v-row .status-indicator.status-3 {
  background-color: #F1E000;
}
.v-body .v-row .status-indicator.status-4 {
  background-color: #92BEFF;
}
.v-body .v-row .status-indicator.status-5 {
  background-color: #86F189;
}
.v-body .v-row .status-indicator.status-6 {
  background-color: #FFB5B5;
}
.v-body .v-row .status-filler {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  max-width: unset;
  padding: 0;
  z-index: 0;
  opacity: 0.1;
  transition: all 1s ease-out;
}
.v-body .v-row .status-filler.status-1 {
  background-color: #BFBFBF;
}
.v-body .v-row .status-filler.status-2 {
  background-color: #F8AF71;
}
.v-body .v-row .status-filler.status-3 {
  background-color: #F1E000;
}
.v-body .v-row .status-filler.status-4 {
  background-color: #92BEFF;
}
.v-body .v-row .status-filler.status-5 {
  background-color: #86F189;
}
.v-body .v-row .status-filler.status-6 {
  background-color: #FFB5B5;
}
.v-body .v-row:hover .status-filler {
  width: 100%;
}
.v-body .v-status {
  color: #FFFEFE;
}
.v-body .v-status .assigned-tag {
  font-size: 0.8rem;
  padding: 0.5rem 0.7rem;
  border-radius: 7px;
}
.v-body .v-status .status-1 {
  background-color: #BFBFBF;
  color: #3A3A3A;
}
.v-body .v-status .status-2 {
  background-color: #F8AF71;
  color: #602D00;
}
.v-body .v-status .status-3 {
  background-color: #F1E000;
  color: #6A6200;
}
.v-body .v-status .status-4 {
  background-color: #92BEFF;
  color: #092B60;
}
.v-body .v-status .status-5 {
  background-color: #86F189;
  color: #004102;
}
.v-body .v-status .status-6 {
  background-color: #FFB5B5;
  color: #8A0010;
}

.submit-form {
  padding: 0.7rem 1.5rem;
  background-color: #CCB0FF;
  color: #402077;
  text-align: center;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border: 1.5px solid #CCB0FF;
  margin-top: 3rem;
  cursor: pointer;
  margin-left: auto;
}

.filter-status, .filter-instructor, .export-wrapper {
  padding: 0.6rem 1.5rem;
  border: 1px solid #3A3A3A;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
  border-radius: 30px;
  color: #3A3A3A;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.filter-status:hover, .filter-instructor:hover, .export-wrapper:hover {
  background-color: #3A3A3A;
  color: #FFFEFE;
}

.export-wrapper {
  border-color: #2E2E2E;
  color: #2E2E2E;
}
.export-wrapper:hover {
  color: #F5F5F5;
  background-color: #2E2E2E;
}

.filter-instructor {
  margin-left: auto;
}

.statuses, .instructor-options, .export-options {
  position: absolute;
  top: 100%;
  background-color: #F5F5F5;
  color: #3A3A3A;
  width: 100%;
  left: 0;
  text-align: center;
  border-radius: 30px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-top: 0.5rem;
  display: none;
}
.statuses div, .instructor-options div, .export-options div {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.statuses div:hover, .instructor-options div:hover, .export-options div:hover {
  color: #2E2E2E;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  color: #2E2E2E;
  font-size: 1rem;
  background-color: #F5F5F5;
  font-family: "Roboto";
}
body #main-container {
  margin-top: 60px;
  margin-left: 320px;
  margin-right: 20px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  opacity: 1;
}
body #main-container.loading {
  opacity: 0;
}
body.template-login #main-container {
  margin: 0;
}
body.template-login .top-bar, body.template-login .left-bar {
  display: none;
}

form * {
  font-family: "Roboto";
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(4px) contrast(10) hue-rotate(240deg);
  mix-blend-mode: darken;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.loader:before {
  content: "";
  grid-area: 1/1;
  margin: 30px 0;
  border-radius: 100px;
  background: #00ffff;
}

.loader:after {
  content: "";
  grid-area: 1/1;
  height: 35px;
  width: 35px;
  margin: auto;
  border-radius: 50%;
  background: #00ffff;
  animation: l5 2s infinite linear;
}

input {
  font-size: 1rem;
  border: none;
  padding: 0.7rem 1rem;
}
input:focus {
  outline: none;
  box-shadow: 3px 3px 7px rgba(130, 122, 210, 0.9) !important;
}

textarea:focus {
  outline: none;
  box-shadow: 3px 3px 7px rgba(130, 122, 210, 0.9) !important;
}

a {
  color: rgb(83, 83, 252);
  text-decoration: none;
}

nav {
  display: none;
}

h1 {
  font-family: "Anton", serif;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Anton", serif;
  text-transform: uppercase;
  font-weight: normal;
}

input:-webkit-autofill {
  background-color: transparent !important; /* Background color of autofilled input */
  color: #333 !important; /* Text color of autofilled input */
  box-shadow: 0 0 0px 1000px #FFFEFE inset !important; /* Necessary to override input background */
}

/* Optional: Change text color of the autofilled text */
input:-webkit-autofill::first-line {
  color: #2E2E2E !important; /* Text color of the autofill suggestions */
}

.top-bar {
  height: 60px;
  background-color: #F5F5F5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.top-bar .mobile-toggle {
  display: none;
}
.top-bar .connected-user {
  margin-left: auto;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  color: #3A3A3A;
}
.top-bar .notifications {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
  cursor: pointer;
  color: #3A3A3A;
  transition: all 0.3s;
}
.top-bar .notifications:hover {
  color: #2E2E2E;
}
.top-bar .notifications.unread {
  color: #F67474;
}

.mobile-brand {
  display: none;
}

.notification-bar {
  position: fixed;
  top: 60px;
  right: 0;
  width: 420px;
  background-color: #FFFEFE;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 60px);
  transform: translateX(100%);
  transition: all 0.3s;
  z-index: 2;
}
.notification-bar.opened {
  transform: translateX(0);
}
.notification-bar .invites-wrapper {
  padding: 1rem;
}

.left-bar {
  width: 300px;
  position: fixed;
  background: #FFFEFE;
  top: 0;
  left: 0;
  height: 100vh;
  box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.left-bar a {
  color: inherit;
}
.left-bar .close-menu {
  display: none;
}
.left-bar .brand {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  height: 60px;
}
.left-bar .brand img {
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  max-height: 100%;
  object-fit: contain;
}
.left-bar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2rem;
}
.left-bar ul li {
  position: relative;
}
.left-bar ul li a {
  display: flex;
  padding: 1rem;
  border-radius: 10px;
  text-transform: uppercase;
}
.left-bar ul li a.selected {
  background-color: #CCB0FF;
  color: #402077;
}
.left-bar ul li a i {
  width: 30px;
}
.left-bar ul li a span {
  margin-left: 0.5rem;
}
.left-bar ul li button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

#message {
  position: fixed;
  z-index: 2;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  display: none;
  padding: 1.3rem 1.5rem;
  border-radius: 5px;
  color: #FFFEFE;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
#message .message-counter {
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 2px;
  left: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
#message.error {
  background-color: #FFB5B5;
  color: #8A0010;
}
#message.error .message-counter {
  background: #8A0010;
}
#message.success {
  background-color: #86F189;
  color: #004102;
}
#message.success .message-counter {
  background: #004102;
}
#message p {
  margin: auto;
}
#message .close-message {
  margin: 0;
  background: white;
  color: #2E2E2E;
  width: 25px;
  height: 25px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 0.7rem;
  display: flex;
}

.full-background-filler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #190e20;
  background-image: url("../img/x.png");
  background-size: 10%;
}

.login-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  width: 30%;
  min-width: 300px;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.login-panel .login-header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.login-panel .input-block {
  display: flex;
}
.login-panel label {
  font-family: "Roboto";
  margin-left: 1rem;
}
.login-panel h1 {
  text-align: center;
  margin-top: 2rem;
}
.login-panel form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1rem;
}
.login-panel form * {
  font-size: 1rem;
}
.login-panel input {
  margin-bottom: 1rem;
  border-bottom: 1.5px solid #3A3A3A;
  background-color: transparent;
}
.login-panel input:autofill {
  background: white;
}
.login-panel button {
  padding: 1rem;
  border: none;
  color: #402077;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  background-color: #CCB0FF;
  border-radius: 7px;
  margin-top: 2rem;
  cursor: pointer;
}
.login-panel .link {
  margin-top: auto;
  text-align: center;
  margin-bottom: 2rem;
}

label {
  font-family: "Anton", serif;
  font-size: 0.7rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  display: flex;
}
label i {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 1rem;
}
label.disabled {
  color: #BFBFBF;
}

.thesis-panel {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: 0;
  margin-left: 0;
}
.thesis-panel h2 {
  font-size: 0.7rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}
.thesis-panel .main-panel {
  flex: 1;
  margin-right: 2rem;
}
.thesis-panel .main-panel form {
  display: flex;
  flex-direction: column;
}
.thesis-panel .main-panel input {
  font-size: 1rem;
  background-color: #F5F5F5;
  margin-bottom: 2rem;
  background-color: #FFFEFE;
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.thesis-panel .main-panel textarea {
  font-size: 1rem;
  padding: 0.7rem 1rem;
  border: none;
  background-color: #F5F5F5;
  margin-bottom: 2rem;
  background-color: #FFFEFE;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.thesis-panel #preview-uploaded-files {
  display: flex;
  flex-wrap: wrap;
}
.thesis-panel #preview-uploaded-files .uploaded-file {
  background-color: #FFFEFE;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 80px;
  margin-right: 1rem;
}
.thesis-panel #preview-uploaded-files .uploaded-file i {
  font-size: 80px;
}
.thesis-panel #preview-uploaded-files .uploaded-file span {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1em;
  white-space: nowrap;
  width: 100%;
  font-size: 0.7rem;
}
.thesis-panel .btn-border {
  font-size: 1rem;
  border: 1.5px solid #004102;
  padding: 0.7rem 1.5rem;
  color: #004102;
  border-radius: 7px;
  margin-top: auto;
  cursor: pointer;
  transition: all 0.3s;
}
.thesis-panel .btn-border:hover {
  background-color: #004102;
  color: #FFFEFE;
}
.thesis-panel #set-ap {
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.thesis-panel #set-ap input {
  margin-bottom: auto;
  flex: 1;
  margin-right: 1rem;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
}
.thesis-panel #set-ap .submit-form {
  margin-top: 0;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 0;
  margin-top: 0.5rem;
}
.thesis-panel #set-grade {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.thesis-panel #set-grade input {
  margin-bottom: auto;
  flex: 1;
  margin-right: 1rem;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}
.thesis-panel #set-grade .submit-form {
  margin-top: 0;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 0;
}
.thesis-panel .extras-panel {
  width: 30%;
  margin-left: auto;
  margin-bottom: auto;
}
.thesis-panel .extras-panel .submition-wrapper {
  display: flex;
}
.thesis-panel .extras-panel .status-extra-field {
  position: relative;
  cursor: pointer;
}
.thesis-panel .extras-panel .change-status-panel {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #FFFEFE;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  display: none;
  margin-top: 1rem;
}
.thesis-panel .extras-panel .change-status-panel .change-status {
  padding: 0.5rem;
  cursor: pointer;
}
.thesis-panel .extras-panel .extra-label {
  color: #3A3A3A;
}
.thesis-panel .extras-panel .top-panel {
  background-color: #FFFEFE;
  padding: 1rem;
  border-radius: 7px;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.thesis-panel .extras-panel .committee-panel {
  margin-bottom: 2rem;
}
.thesis-panel .extras-panel .committee-panel .committee-member {
  margin-top: 1rem;
  min-height: calc(80px - 2rem);
  color: #FFFEFE;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 1rem;
  display: flex;
  position: relative;
}
.thesis-panel .extras-panel .committee-panel .committee-member .instructor-label {
  position: absolute;
  top: -0.7rem;
  left: 1rem;
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background-color: #FFFEFE;
  color: #2E2E2E;
}
.thesis-panel .extras-panel .committee-panel .committee-member .member-name {
  margin-top: auto;
  margin-bottom: auto;
}
.thesis-panel .extras-panel .committee-panel .committee-member .member-date {
  font-size: 0.7rem;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.thesis-panel .extras-panel .committee-panel .committee-member .member-date .invited-date {
  margin-bottom: 0.5rem;
}
.thesis-panel .extras-panel .committee-panel .committee-member .committee-grade {
  margin-top: 0.5rem;
}
.thesis-panel .extras-panel .committee-panel .member-status- {
  background-color: #BFBFBF;
  color: #3A3A3A;
}
.thesis-panel .extras-panel .committee-panel .member-status-0 {
  background-color: #FFB5B5;
  color: #8A0010;
}
.thesis-panel .extras-panel .committee-panel .member-status-1 {
  background-color: #86F189;
  color: #004102;
}
.thesis-panel .extras-panel .bottom-panel {
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.thesis-panel .extras-panel .bottom-panel #search-students {
  margin-top: 1rem;
  flex: 1;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  display: none;
}
.thesis-panel .extras-panel .bottom-panel .select-student {
  padding: 1rem;
  position: relative;
  cursor: pointer;
  border-radius: 7px;
  color: #FFFEFE;
  height: calc(80px - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.thesis-panel .extras-panel .bottom-panel .select-student.student-status- {
  background-color: #BFBFBF;
  color: #3A3A3A;
}
.thesis-panel .extras-panel .bottom-panel .select-student.student-status-1 {
  background-color: #BFBFBF;
  color: #3A3A3A;
}
.thesis-panel .extras-panel .bottom-panel .select-student.student-status-2 {
  background-color: #F8AF71;
  color: #602D00;
}
.thesis-panel .extras-panel .bottom-panel .select-student.student-status-3 {
  background-color: #F1E000;
  color: #6A6200;
}
.thesis-panel .extras-panel .bottom-panel .select-student.student-status-4 {
  background-color: #92BEFF;
  color: #092B60;
}
.thesis-panel .extras-panel .bottom-panel .select-student.student-status-5 {
  background-color: #86F189;
  color: #004102;
}
.thesis-panel .extras-panel .bottom-panel .select-student.student-status-6 {
  background-color: #FFB5B5;
  color: #8A0010;
}
.thesis-panel .extras-panel .bottom-panel .student-list {
  position: relative;
  top: 100%;
  width: 100%;
  height: 300px;
  left: 0;
  overflow: auto;
  display: none;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin-top: 0.7rem;
  background-color: #FFFEFE;
}
.thesis-panel .extras-panel .bottom-panel .student-list .student {
  cursor: pointer;
  padding: 0.7rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.thesis-panel .extras-panel .bottom-panel .student-list .student:nth-child(odd) {
  background-color: #F5F5F5;
}
.thesis-panel .extras-panel .extras-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.3rem;
}
.thesis-panel .extras-panel .extras-field > div {
  color: #3A3A3A;
}
.thesis-panel .extras-panel .extras-field .status-1 {
  color: #3A3A3A;
}
.thesis-panel .extras-panel .extras-field .status-2 {
  color: #F38E39;
}
.thesis-panel .extras-panel .extras-field .status-3 {
  color: #C2B400;
}
.thesis-panel .extras-panel .extras-field .status-4 {
  color: #78AFFF;
}
.thesis-panel .extras-panel .extras-field .status-5 {
  color: #3BD940;
}
.thesis-panel .extras-panel .extras-field .status-6 {
  color: #F67474;
}

.list-thesis-wrapper {
  display: flex;
  flex-direction: column;
}

.list-thesis-tool-bar {
  display: flex;
}
.list-thesis-tool-bar .create-new-thesis {
  padding: 0.6rem 1.5rem;
  background-color: #CCB0FF;
  color: #402077;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
  font-size: 0.9rem;
}
.list-thesis-tool-bar input {
  margin-top: 2rem;
  margin-bottom: auto;
  margin-left: auto;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #3A3A3A;
}

th {
  font-weight: normal;
}

.list-thesis-panel, .users {
  margin-top: 1rem;
  background-color: #FFFEFE;
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.list-thesis-panel table, .users table {
  width: 100%;
  border-collapse: collapse;
}
.list-thesis-panel thead, .users thead {
  text-transform: uppercase;
}
.list-thesis-panel thead th, .users thead th {
  text-align: left;
  padding: 1rem;
}
.list-thesis-panel tbody td, .users tbody td {
  text-align: left;
  padding: 1.5rem 1rem;
}
.list-thesis-panel tbody tr:nth-child(odd), .users tbody tr:nth-child(odd) {
  background-color: #F5F5F5;
}
.list-thesis-panel .committee-pill-wrapper, .users .committee-pill-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 250px;
}
.list-thesis-panel .committee-pill-wrapper .commitee-pill, .users .committee-pill-wrapper .commitee-pill {
  background-color: #86F189;
  color: #004102;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  margin-right: 0.5rem;
}

.user-listing {
  display: flex;
  flex-wrap: wrap;
}
.user-listing .user {
  display: flex;
  flex-direction: column;
  width: calc(25% - 3rem);
  padding: 1rem;
  background-color: #FFFEFE;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 7px;
}
.user-listing .user .user-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.user-listing .user .user-email, .user-listing .user .student-number {
  font-size: 0.7rem;
  color: #3A3A3A;
}

.thesis-panel .uploads {
  margin-top: 1em;
  display: flex;
}
.thesis-panel .uploads .upload {
  width: 150px;
  display: flex;
  flex-direction: column;
}
.thesis-panel .uploads .upload i {
  font-size: 100px;
  margin: 0 auto;
}
.thesis-panel .uploads .upload .filename {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1em;
  white-space: nowrap;
}

.comments-panel {
  margin-top: 2rem;
}
.comments-panel h2 {
  margin-top: 2rem;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.comments-panel #add-new-comment {
  display: flex;
  flex-direction: column;
}
.comments-panel #add-new-comment textarea {
  margin-bottom: 1rem;
}
.comments-panel #add-new-comment .submit-form {
  padding: 1rem 1.5rem;
  background-color: #CCB0FF;
  margin-right: auto;
  color: #FFFEFE;
  border-radius: 7px;
  cursor: pointer;
}
.comments-panel .comments {
  display: flex;
  flex-direction: column;
}
.comments-panel .comments .comment {
  margin-top: 1rem;
  background-color: #FFFEFE;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.comments-panel .comments .comment .comment-date {
  font-size: 0.7rem;
  padding: 1rem;
  padding-bottom: 0;
}
.comments-panel .comments .comment .comment-text {
  margin-top: 0.5rem;
  padding: 1rem;
  padding-top: 0.5rem;
}

.all-invites {
  display: flex;
  flex-direction: column;
}
.all-invites .invite {
  background-color: #FFFEFE;
  padding: 1.5rem;
  padding-left: 1rem;
  border-radius: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.all-invites .invite .invite-student {
  margin-bottom: 1rem;
}
.all-invites .invite span {
  font-family: "Roboto", serif;
  font-weight: bold;
  text-transform: capitalize;
}
.all-invites .invite .invite_actions {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.all-invites .invite .accept-invite, .all-invites .invite .decline-invite {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  cursor: pointer;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.all-invites .invite .accept-invite:hover, .all-invites .invite .decline-invite:hover {
  box-shadow: none;
}
.all-invites .invite .accept-invite {
  margin-bottom: 1rem;
  background-color: #86F189;
  color: #004102;
}
.all-invites .invite .decline-invite {
  background-color: #FFB5B5;
  color: #8A0010;
}

.cancellation-wrapper {
  display: none;
}

.users-header {
  display: flex;
  flex-direction: column;
}
.users-header form {
  display: flex;
}
.users-header input {
  background-color: #FFFEFE;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
}
.users-header .submit-form {
  padding: 0.7rem 1.5rem;
  border: 1.5px solid #CCB0FF;
  color: #CCB0FF;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}
.users-header .submit-form:hover {
  background-color: #CCB0FF;
  color: #FFFEFE;
}

#cancel-form {
  display: flex;
  flex-wrap: wrap;
}
#cancel-form input {
  flex: 1;
  flex-basis: 100%;
  margin-bottom: 0.5rem;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
#cancel-form textarea {
  flex: 1;
  flex-basis: 100%;
  border: none;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  padding: 0.7rem 1rem;
  font-size: 1rem;
}
#cancel-form .submit-form {
  flex: 1;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  background-color: transparent;
  border: 1.5px solid #FFB5B5;
  color: #FFB5B5;
  transition: all 0.3s;
}
#cancel-form .submit-form:hover {
  background-color: #FFB5B5;
  color: #FFFEFE;
}

.student-homepage {
  display: flex;
}
.student-homepage h2 {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  display: flex;
  letter-spacing: 1px;
}
.student-homepage h2 i {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
  cursor: pointer;
}
.student-homepage .wrapper, .student-homepage .extra-info {
  background-color: #FFFEFE;
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.student-homepage .info {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.student-homepage .student-thesis-info {
  flex: 1;
  margin-right: 2rem;
}
.student-homepage .student-thesis-extra-info {
  width: 35%;
}
.student-homepage .student-thesis-extra-info .thesis-status- .status {
  color: #3A3A3A;
}
.student-homepage .student-thesis-extra-info .thesis-status-1 .status {
  color: #3A3A3A;
}
.student-homepage .student-thesis-extra-info .thesis-status-2 .status {
  color: #F38E39;
}
.student-homepage .student-thesis-extra-info .thesis-status-3 .status {
  color: #C2B400;
}
.student-homepage .student-thesis-extra-info .thesis-status-4 .status {
  color: #78AFFF;
}
.student-homepage .student-thesis-extra-info .thesis-status-5 .status {
  color: #3BD940;
}
.student-homepage .student-thesis-extra-info .thesis-status-6 .status {
  color: #F67474;
}
.student-homepage .full-description {
  display: flex;
  flex-wrap: wrap;
}
.student-homepage .full-description .uploaded-file {
  background-color: #FFFEFE;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 80px;
  margin-right: 1rem;
}
.student-homepage .full-description .uploaded-file i {
  font-size: 80px;
}
.student-homepage .full-description .uploaded-file span {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1em;
  white-space: nowrap;
  width: 100%;
  font-size: 0.7rem;
}
.student-homepage .committee-list {
  display: flex;
  flex-direction: column;
}
.student-homepage .committee-list .committee-member {
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  min-height: calc(80px - 2rem);
  color: #FFFEFE;
  margin-bottom: 1rem;
  position: relative;
}
.student-homepage .committee-list .committee-member .member-name {
  margin-top: auto;
  margin-bottom: auto;
}
.student-homepage .committee-list .committee-member .member-date {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.7rem;
}
.student-homepage .committee-list .committee-member .invited-date {
  margin-bottom: 0.5rem;
}
.student-homepage .committee-list .committee-member.member-status- {
  background-color: #BFBFBF;
  color: #3A3A3A;
  cursor: pointer;
}
.student-homepage .committee-list .committee-member.member-status-:hover:after {
  content: "Cancel Invite";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
}
.student-homepage .committee-list .committee-member.member-status-1 {
  background-color: #86F189;
  color: #004102;
}
.student-homepage .committee-list .committee-member.member-status-0 {
  background-color: #FFB5B5;
  color: #8A0010;
}
.student-homepage .invite-fields {
  display: flex;
  flex-direction: column;
  display: none;
}
.student-homepage .invite-fields input {
  flex: 1;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.student-homepage .professors-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 300px;
  overflow: auto;
  background-color: #FFFEFE;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.student-homepage .professors-list .professor {
  padding: 1rem;
  cursor: pointer;
}
.student-homepage .professors-list .professor:nth-child(even) {
  background-color: #F5F5F5;
}

#final-text-form {
  display: flex;
}
#final-text-form input {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  flex: 1;
  margin-right: 1rem;
}
#final-text-form .submit-form {
  padding: 0.7rem 1.5rem;
  background-color: #CCB0FF;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 7px;
  color: #FFFEFE;
  cursor: pointer;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.examination-fields {
  display: flex;
}
.examination-fields h2 {
  font-size: 0.7rem;
  margin-top: 0;
  letter-spacing: 1px;
}
.examination-fields #examination-student-form {
  flex: 1;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}
.examination-fields #examination-student-form input, .examination-fields #examination-student-form textarea {
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  border: none;
  background-color: #FFFEFE;
}
.examination-fields #examination-student-form button {
  border: 2.5px solid #2E2E2E;
  box-shadow: none;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  cursor: pointer;
  margin-right: auto;
  margin-bottom: 2rem;
}
.examination-fields #examination-student-form small {
  color: #3A3A3A;
}
.examination-fields #examination-student-form .method-wrapper {
  display: flex;
}
.examination-fields #examination-student-form .method-wrapper select {
  font-size: 1rem;
  padding: 0.7rem 1rem;
  border: none;
  background: white;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  flex: 1;
  margin-bottom: auto;
  margin-right: 1rem;
}
.examination-fields #examination-student-form .method-wrapper input {
  width: 80%;
}
.examination-fields #examination-student-form label {
  color: #2E2E2E;
}
.examination-fields #examination-student-form .draft-wrapper {
  display: flex;
}
.examination-fields #examination-student-form .draft-wrapper input {
  flex: 1;
}
.examination-fields #examination-student-form .file-wrapper {
  margin-left: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #FFFEFE;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.examination-fields #examination-student-form .file-wrapper i {
  font-size: 1rem;
}
.examination-fields #examination-student-form .file-wrapper span {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1em;
  white-space: nowrap;
  width: 100%;
  font-size: 0.7rem;
}
.examination-fields #examination-student-form .links-wrapper {
  display: flex;
  flex-direction: column;
}
.examination-fields #examination-student-form .links-wrapper input {
  margin-bottom: 1rem;
}
.examination-fields .examination-fields-extras {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.examination-fields .examination-fields-extras .extra-info {
  padding: 1rem;
  background-color: #FFFEFE;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.examination-fields .examination-fields-extras .extra-info .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.examination-fields .examination-fields-extras .extra-info .committee-info {
  margin-top: 1rem;
}
.examination-fields .examination-fields-extras .extra-info .committee {
  display: flex;
  flex-direction: column;
}
.examination-fields .examination-fields-extras .extra-info .committee .committee-member {
  text-align: right;
}
.examination-fields .examination-fields-extras .submit-form {
  margin-top: 1rem;
  margin-left: auto;
  border-radius: 7px;
  background-color: #CCB0FF;
  padding: 0.5rem 2rem;
  color: #402077;
  cursor: pointer;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.report-wrapper {
  width: 992px;
  background-color: #FFFEFE;
  margin: auto;
}
.report-wrapper .examination-report {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 117px;
}
.report-wrapper .examination-report * {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.4;
}
.report-wrapper h1 {
  font-size: 18px !important;
  font-weight: bold;
  text-align: center;
}
.report-wrapper h2 {
  text-transform: none;
  text-align: center;
}
.report-wrapper ol {
  padding: 0;
  width: 100%;
}
.report-wrapper ol span {
  display: flex;
}
.report-wrapper .wrapper {
  display: flex;
  flex-wrap: wrap;
}
.report-wrapper .wrapper .generated-text {
  flex: 1;
  border-bottom: 2px dotted black;
  margin-bottom: 0.3em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}
.report-wrapper table {
  width: 100%;
  border-collapse: collapse;
}
.report-wrapper thead {
  text-transform: uppercase;
}
.report-wrapper thead tr {
  background-color: #dbe5f1;
}
.report-wrapper thead th {
  text-align: center;
  padding: 0.5rem;
}
.report-wrapper tbody td {
  text-align: center;
  padding: 0.5rem;
}
.report-wrapper table, .report-wrapper th, .report-wrapper td {
  border: 1px solid black;
  border-collapse: collapse;
}

.dash-main-panel {
  display: flex;
}
.dash-main-panel h2 {
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}
.dash-main-panel small {
  margin-left: 0.3rem;
  color: #3A3A3A;
}
.dash-main-panel .left-panel {
  flex: 1;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.dash-main-panel .left-panel .stat-wrapper {
  flex: 1;
  margin-right: 2rem;
}
.dash-main-panel .left-panel .stat-wrapper:last-child {
  margin: 0;
}
.dash-main-panel .left-panel .grade-wrapper {
  flex-basis: 100%;
  margin-right: 0;
}
.dash-main-panel .right-panel {
  width: 300px;
}
.dash-main-panel .statistics {
  background-color: #FFFEFE;
  border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}
.dash-main-panel .statistics canvas {
  max-width: 100%;
}
.dash-main-panel .statistics .statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.dash-main-panel .statistics .statistic:last-child {
  margin-bottom: 0;
}

.logout-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}
.logout-form button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  text-align: center;
  flex: 1;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  color: #3A3A3A;
  border-top: 1.5px solid #3A3A3A;
  cursor: pointer;
  transition: all 0.5s;
}
.logout-form button:hover {
  background-color: #3A3A3A;
  color: #FFFEFE;
}

.log {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #F5F5F5;
  padding-bottom: 0.5rem;
  flex-wrap: wrap;
}
.log small {
  color: #3A3A3A;
}
.log .status-1 {
  color: #3A3A3A;
}
.log .status-2 {
  color: #F38E39;
}
.log .status-3 {
  color: #C2B400;
}
.log .status-4 {
  color: #78AFFF;
}
.log .status-5 {
  color: #3BD940;
}
.log .status-6 {
  color: #F67474;
}
.log .log-text {
  margin-right: auto;
  margin-left: 1rem;
}

.student-profile {
  width: 50%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.student-profile h2 {
  font-size: 0.8rem;
}
.student-profile .student-id {
  background-color: #FFFEFE;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.student-profile .student-id #email-info {
  margin-top: 1rem;
}
.student-profile .student-id .fathername {
  margin-left: 1rem;
  color: #3A3A3A;
}
.student-profile .student-id .student-number {
  margin-left: auto;
  color: #3A3A3A;
}
.student-profile .student-id form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.student-profile .student-id .contact-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.student-profile .student-id input {
  box-shadow: none;
  border-bottom: 1px solid #3A3A3A;
  margin-bottom: 1rem;
  flex: 1;
  margin-right: 1rem;
  padding: 0;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.student-profile .student-id input:focus {
  box-shadow: none !important;
  outline: none;
}
.student-profile .student-id .submit-form {
  margin-right: auto;
  margin-left: 0;
}

@media only screen and (max-width: 1200px) {
  .mobile-brand {
    display: block;
    max-height: 100%;
    width: auto;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
  }
  .left-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    display: none;
  }
  .left-bar .close-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: block;
  }
  .left-bar ul {
    margin: 0;
    margin-top: auto;
  }
  .left-bar ul li {
    margin-bottom: 2rem;
  }
  .left-bar ul li a {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .left-bar ul li a span {
    margin: 0;
  }
  .user-listing .user {
    width: auto;
  }
  #set-users {
    flex-direction: column;
  }
  #set-users .submit-form {
    margin-right: auto;
    margin-left: 0;
    margin-top: 1rem;
  }
  .top-bar {
    background-color: #FFFEFE;
  }
  .top-bar .connected-user {
    display: none;
  }
  .top-bar .mobile-toggle {
    margin-top: auto;
    margin-right: 1rem;
    margin-bottom: auto;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
  }
  .logout-form {
    position: relative;
    width: auto;
    display: block;
    margin-bottom: auto;
    text-align: center;
  }
  .logout-form button {
    color: inherit;
    border: none;
    padding: 0;
    font-size: 1.5rem;
  }
  body #main-container {
    margin: 60px 1rem;
  }
  .thesis-panel {
    flex-direction: column;
  }
  .thesis-panel .main-panel {
    margin: 0;
  }
  .thesis-panel .extras-panel {
    width: 100%;
    margin-top: 2rem;
  }
  .examination-fields {
    flex-direction: column;
  }
  .examination-fields .examination-fields-extras {
    width: 100%;
  }
  .log {
    flex-wrap: wrap;
  }
  .log-status {
    flex-basis: 100%;
    margin-top: 0.5rem;
  }
  .dash-main-panel {
    flex-direction: column;
  }
  .list-thesis-tool-bar {
    display: none;
  }
  .v-head {
    display: none;
  }
  .v-body .v-row {
    flex-direction: column;
  }
  .v-body .v-row > div {
    max-width: 100%;
  }
  .student-homepage {
    flex-direction: column;
  }
  .student-homepage .student-thesis-extra-info {
    width: auto;
  }
  .report-outer-wrapper {
    overflow: auto;
  }
  .student-profile .student-id .contact-wrapper {
    flex-direction: column;
  }
}
@keyframes l5 {
  0% {
    transform: translate(30px);
  }
  25% {
    transform: translate(0);
  }
  50% {
    transform: translate(-30px);
  }
  75% {
    transform: translate(0);
  }
  100% {
    transform: translate(30px);
  }
}

/*# sourceMappingURL=style.css.map */
